body {
  font-family: "Bai Jamjuree", sans-serif;
  text-align: center;
  margin: 0;
  background-color: #eef0f2;
}

@media (max-width: 768px) {
  .buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .green-bg {
    margin-bottom: 10px;
  }
}
header {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 1) 100%
    ),
    url(img/bg-header-desktop.png);
  border: none;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  object-position: center;
  object-fit: cover;
  background-color: #f7f7f9;
  background-blend-mode: multiply;
}
h1 {
  color: hsl(210, 10%, 33%);
  font-weight: 600;
  margin-top: 0;
}
header img {
  margin-top: 50px;
}
.header-text {
  color: hsl(201, 11%, 66%);
  font-weight: 400;
  font-size: 18px;
}
button {
  border-radius: 20px;
  padding: 8px 16px;
  border: none;
  color: white;
  font-weight: 400;
  font-size: 16px;
}
.green-bg {
  background-color: hsl(171, 66%, 44%);
}
.blue-bg {
  background-color: hsl(233, 100%, 69%);
}
